* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    
}

#general {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid black;
}

#header {
    width: 100%;
    height: 100px;
    background: rgb(75, 75, 153);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    background-color: gray;
}

#menu ul li {
    display: block;
    float: left;
    border-right: 1px solid black;
}

#menu ul li a {
    color: white;
    padding: 15px;
    display: block;
}

#menu ul li:hover {
    background-color: turquoise;
    cursor: pointer;
}

#menu ul li:hover a {
    display: block;
    color: white;
}

#contenido {
    width: 69%;
    float: left;
}

#lateral {
    float: left;
    width: 30%;
    
    min-height: 500px;
    text-align: center;
    margin-top: 10px;
}

#unidad{
color: black;
text-transform: uppercase;
font-size: 20px;
}

#temario ul li{
    text-decoration: none;
    list-style: none;
}


#contenido .caja {
    width: 90%;
    height: auto;
    background-color: indigo;
    color: white;
    float: left;
    margin: 20px;
    border: yellow;
    margin-left: 40px;
}

#contenido>h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

h2{
    text-align: center;
    padding: 15px;
}

.texto{
    text-align: justify;
    height: 200;
    padding: 10px;
}

#footer {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: #eee;
    text-align: center;
    color: #444;
    border-top: 1px solid black;
}