html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 3.3em;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #7871bf;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #70acb1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
    background-color:#c6f1e7;
}

.titulo {
    text-align: center;
    color: #70acb1;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
}

.contenidos {
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color:#c6f1e7;
    border: 10px solid #70acb1;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    float: none;
}

li {
    color: lightseagreen;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cherry Swash', cursive;
    font-size: 18px;
}

.pie {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix {
    float: none;
    clear: both;
}